<ng-container *ngIf="itemData">
    <a class="item" [routerLink]="itemData.route_path">
        <div class="item-rating">
            <i class="app-icon">star</i>
            <span>{{itemData.vote_average}}</span>/10
        </div>
        <div class="item-image">
            <img loading="lazy" *ngIf="itemData.backdrop_path" [src]="imagesSizes.large + itemData.backdrop_path" [alt]="itemData.title">
            <img loading="lazy" *ngIf="!itemData.backdrop_path" src="./assets/images/film.jpg">
        </div>
        <div class="item-title"> {{ itemData.title }} </div>
    </a>
</ng-container>
