@import '../../../styles/colors';

.item {
    position: relative;
    display: block;
    min-height: 300px;
    border-radius: 5px;
    background-color: $bgColorLight;
    border: 1px solid $ligthGrey;

    &-image {
        img {
            width: 100%;
            border-radius: 5px;
            height: 325px;
            object-fit: cover;
        }
    }

    &-rating {
        position: absolute;
        display: flex;
        align-items: center;
        top: 10px;
        left: 10px;
        background-color: $bgColor;
        border-radius: 5px;
        padding: 5px 10px;
    }

    &-title {
        display: flex;
        align-items: center;
        font-weight: bold;
        margin: .5rem;
        height: 30px;
        justify-content: space-around;
    }
}

.app-icon {
    margin-right: 5px;
    color: $gold;
}