

<div class="slider">
    <ng-container *ngFor="let item of items; let i = index">
        <div class="slide" *ngIf="i==currentSlideIndex" @fade>

            <div class="slide-bg">
                <img class="slide-bg-img" [src]="imagesSizes.large + item.backdrop_path" alt="">
            </div>
    
            <div class="slide-pane">
                <h2 class="name"> {{item.title}} </h2>
                <div class="meta">
                    <div class="info">
                        <span class="rating"> <span class="app-icon"> star </span> <span class="rating-value"> {{item.vote_average}}<span> /10 </span> </span></span>
                        <span> {{item.vote_count}} Reviews </span>
                        <span> {{item.release_date | date : "yyyy"}}</span>
    
                    </div>
                </div>

                <div class="desc mt-6" *ngIf="mobile.matches">
                    {{item.overview | slice:0:250}}...
                </div>

                <ng-container>
                    <button class="desc-button" (click)="showDialog()" icon="pi pi-external-link" label="Show"> See more </button>
                    <p-dialog header="Overview" [(visible)]="displayDialog" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
                    [draggable]="false" [resizable]="false">
                    <p>{{item.overview}}</p>
                    <ng-template pTemplate="footer">
                    </ng-template>
                </p-dialog>
                </ng-container>
                
            </div>
    
        </div>
    </ng-container>
    
</div>