<!-- <pre> {{movies | json}}</pre> -->
<app-slider [items]="popularMovies"></app-slider>


<app-items-banner [items]="popularMovies" [loading]="loading" title="Popular Movies"></app-items-banner>
<app-items-banner [items]="upcomingMovies" [loading]="loading" title="Upcoming Movies"></app-items-banner>
<app-items-banner [items]="topRatedMovies" [loading]="loading" title="Top Rated Movies"></app-items-banner>
<app-items-banner [items]="popularTvshows" [loading]="loading" title="Popular Tv Shows"></app-items-banner>
<!-- <app-items-banner></app-items-banner> -->